<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>马克思主义模拟试题</title>
    <link rel="stylesheet" href="/amazui/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/amazui/css/admin.css" />
</head>
<body >
<!-- Home -->
<div class="am-panel-group" id="messages">
    <div class="am-panel am-panel-default am-round am-avg-sm-12">
        <span>欢迎使用马克思主义模拟测试系统!请选择测试题型:</span>
    </div>
    <div class="am-panel am-panel-default am-round am-avg-sm-12">
        <div class="am-panel am-btn-default am-round am-avg-sm-4">
            <a href="/sin?choose=single">单项题</a>
        </div>
        <div class="am-panel am-btn-default am-round am-avg-sm-4">
            <a href="/sin?choose=judge">判断题</a>
        </div>
        <div class="am-panel am-btn-default am-round am-avg-sm-4">
            <a href="/mul">多选题</a>
        </div>
    </div>
    <div class="am-panel am-panel-default am-round am-avg-sm-12">
    </div>
    <!--<div class="am-panel am-panel-default am-round am-avg-sm-12">
        <input type="text" name = "sid">
        <button type="button" class="am-btn am-btn-warning  am-round">橙色按钮</button>
    </div>-->
</div>
<script src="/amazui/js/jquery.min.js"></script>
<script src="/amazui/js/amazeui.min.js"></script>

</body>
</html>